<p id="notice"><%= notice %></p>

<h1>Gyms</h1>

<table class="details">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Abn</th>
      <th>Address</th>
      <th>Contact number</th>
      <th>Image data</th>
      <th>User</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @gyms.each do |gym| %>
      <tr>
        <td><%= gym.name %></td>
        <td><%= gym.description %></td>
        <td><%= gym.abn %></td>
        <td><%= gym.address %></td>
        <td><%= gym.contact_number %></td>
        <td><%= image_tag gym.image_url(:thumb) unless gym.image_data.nil? %></td>
        <td><%= link_to 'Show', gym %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Gym', new_gym_path %>
