
<div class = "createdgym">
    <p id="notice"><%= notice %></p>


    <p>
      <strong>Name:</strong>
      <%= @gym.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @gym.description %>
    </p>

    <p>
      <strong>Abn:</strong>
      <%= @gym.abn %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @gym.address %>
    </p>

    <p>
      <strong>Contact number:</strong>
      <%= @gym.contact_number %>
    </p>

    <p>
      <strong>Image data:</strong>
      <%= image_tag @gym.image_url(:thumb) unless @gym.image_data.nil? %>
    </p>


<% if current_user == @gym.user %>
<p>
  <%= link_to 'New session', new_gym_gym_session_path(@gym) %>
</p>
<% end %>

<% if policy(@gym).edit? %>
  <%=  link_to 'Edit', edit_gym_path(@gym) %> 
<% end %>
|
<%= link_to 'Back', gyms_path %>


<div class = "choices">
  <% @gym_sessions.each do |session| %>
    
      <%= session.id %>
      <%= session.day_of_week %>
      <%= session.time_from %>
      <%= session.time_until %>
      <%= session.weeks_in_advance %>
      <%= session.hourly_price %>
      <% unless current_user == @gym.user %>
      <%= link_to 'Book this session', book_gym_gym_session_path(@gym, session), method: :post %>
      <%end%>
  <% end %>
</div>
</div>
</div>

