<h2>This is your Profile Page</h2>

<p id="notice"><%= notice %></p>

    
    <p>
      <strong>First Name:</strong>
      <%= @profile.first_name %>
    </p>

    <p>
      <strong>Last Name:</strong>
      <%= @profile.last_name %>
    </p>

    <p>
      <strong>Contact Number:</strong>
      <%= @profile.contact_number %>
    </p>

    <p>
      <strong> Date of birth:</strong>
      <%= @profile.date_of_birth %>
    </p>

    <p>
      <strong>Drivers License:</strong>
      <%= @profile.drivers_license %>
    </p>


<p>
    <% if policy(@profile).edit? %>
    <strong>Email: </strong>
    <%=  @profile.user.email %> 
  <% end %>
</p>


<%= link_to 'Update my profile', profile_edit_path %>

<%= link_to 'Create New Gym', new_gym_path %>

