<!DOCTYPE html>
<html>

<head>
  <title>FitLink</title>
  <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <main>

  <div class = "navbar">
    <nav>
        <div class="menu">
        <ul>

            <li> <%= link_to 'Home', root_path %></li>
            <li> <%= link_to 'Profile', profile_path %></li>
            <li> <%# link_to 'Gyms', gyms_path %> </li>
          <% unless user_signed_in?%>

           <li>  <%=  link_to 'Sign In', new_user_session_path %> </li>
             <li> <%= link_to 'Sign Up',  new_user_registration_path %> </li>
          <% else %>

             <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </li>

          <% end %>
        </ul>  

          <div class = "brand"> <h1> Fit Link </h1> </div>


        </div>
    </nav>
  </div>

  </main>
  <%= yield %>
</body>

</html>